.SidebarUserContainer {
    width: 100%;
    min-height: 56px;
    margin-top: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(171, 194, 192, 0.3);
    box-sizing: border-box;
}

.SidebarUser {
    /*親コンテナの高さの真ん中に自動で配置*/
    display: flex;
    align-items: center;
    height: 100%;

    padding: 0 16px;
}

.SidebarUser img {
    width: 35px;
    height: 35px;
    margin-right: 12px;
}

.UserGrp {
    display: flex;
    flex-direction: column;
}

.UserName,
.UserInfo {
    margin: 0;
    line-height: 1.2;
}

.UserName {
    font-size: 14px;
}

.UserInfo {
    font-size: 12px;
}

@media (max-height: 415px) {
    .UserGrp {
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }
}