.SidebarSettingContainer {
    margin: 5px 0 5px 0;
    /* background-color: aqua; */
    border-radius: 5px;
    box-sizing: border-box;
}

.SidebarSetting {
    margin-left: 20px;
    font-size: 12px;

}

.SidebarSetting .icon {
    margin-right: 20px;
    margin-left: 5px;
    font-size: 20px;
}

.SettingGrp,
.LogoutGrp {
    display: flex;
    align-items: center;
    gap: 1px;

    width: 100%;
    padding: 0;

    text-decoration: none;
    color: inherit;
}

.LogoutGrp {
    margin: 10px 0;
}   


.SettingGrp:hover, .LogoutGrp:hover {
    cursor: pointer;
    color: #42b4a8;
}

.SettingGrp.active {
    color: #42b4a8;
}


@media (max-height: 415px) {
    .SidebarSetting{
        display: flex;
        font-size: 11px;
    }

    .SettingGrp,
    .LogoutGrp {
        line-height: 0.4;
    }

    .SidebarSetting .icon {
        font-size: 17px;
        margin-right: 10px;
    }

    .SettingGrp {
        margin-right: -30px;
    }

}