.SidebarIcon {
    padding-top: auto;
    height: 65px;
    display: flex;
    margin-top: 5px;
}


.logo {
    font-family: 'Righteous', cursive;
    color: #42b4a8;
    text-align: left;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-left: 10%;
    margin-top: 10px;
    justify-content: center; /* 横中央 */
    align-items: center;     /* 縦中央 */
}

