
.order-detail-forms-container {
    margin-top: 20px;
    max-width: 1000px; /* フォーム全体の幅を指定 */
    overflow-x: auto; /* 横スクロールを有効にする */
    min-width: 300px; /* フォーム全体の最小幅を指定 */
}
/* .order-detail-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    
    gap: 20px;
} */

.order-detail-forms {
    margin-left: 8px;
}

.order-detail-form {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 20px 30px;
}

.request-remarks-container {
    grid-column: 1 / -1;
}

.form-item {
    /* display: grid;
    grid-template-columns: 120px 1fr; */
    display: flex;
    flex-direction: column;

    align-items: left;
    margin-bottom: 0px;

    gap: 10px;
}


.form-item input,
.form-item textarea {
    width: 100%;
}

.form-item input {
    /* width: 220px; */
    height: 30px;
}


@media (max-width: 600px) {
    .order-detail-form {
        grid-template-columns: 1fr; /* 1列にする */
    }

}
