.order-detail-container {
    padding: 20px;
    min-width: 300px; /* フォーム全体の最小幅を指定 */
    overflow-y: auto; /* 縦スクロールを有効にする */
}

.error-message {
    margin-left: 10px;
    padding: 10px 0 ;
    color: #dc3545;
}

.table-footer {
    display: flex;
    margin: 8 0;
    padding-bottom: 10px;
    gap: 20px;
    justify-content: flex-end;
}

