.order-detail-container {
    padding: 20px;
    min-width: 300px; /* フォーム全体の最小幅を指定 */
    overflow-y: auto; /* 縦スクロールを有効にする */
}

.table-footer {
    display: flex;
    margin: 10 0;
    gap: 20px;
    justify-content: flex-end;
}

