.order-table-container { 
    margin-top: 20px;
    overflow-x: auto; /* 横スクロールを有効にする */

    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden; /* テーブルの角を丸くするために必要 */
        width: max-content;
}

.order-table {
    min-width: 1000px; /* テーブルの最小幅を設定 */
    border-collapse: collapse; /* セルの境界線を重ねる */

    /* table-layout: fixed;  */
    /* セルの幅を固定にする */
    font-size: 14px;
}

.order-table th, .order-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left; /* テキストを左揃え */
    

}

.order-table th {
    background-color: #f2f2f2;
    color: #333;
}

.order-table td {
    color: #555;
    white-space: nowrap; /* テキストの折り返しを防止 */

}



.order-table tr:hover {
    background-color: #f9f9f9;
}

.order-table .status {
    font-weight: bold;
    color: #007bff;
}

.check-box {
    width: 20px;
    height: 20px;

    /*チェックしたときのスタイル*/
    accent-color: #2f9e8f;

} 



.th1,
.td1,
.th10,
.td10 {
  text-align: center;
  vertical-align: middle;
}


.btn {
    width : 46px;
    height : 28px;
    font-size: 13px;

    /* 文字を中央に配置 */
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 0;
}   

.order-table .status.completed {
    color: #28a745;
}
.order-table .status.pending {
    color: #ffc107;
}
.order-table .status.cancelled {
    color: #dc3545;
}

