.ModalContent {
  background: white;
  padding: 10px;
  border-radius: 8px;

  width: 300px;
  height: 200px;
  text-align: center;

  padding-top: 25px;

}

.ModalContent h2 {
  color: #36a39c;
  font-weight: bold;
}

.ModalOverlay {
  /*親要素じゃなくてブラウザ画面（viewport）基準で配置する*/
  /* position: fixedで、位置を決める基準が画面になる！！*/
  position: fixed; 
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-top: 30px;
  margin-bottom: 20px;

  /*小要素同士の間隔を指定*/
  display: flex;
  gap: 47px;

  justify-content: center;

}

.CancelButton, .ConfirmButton {
  width: 90px;
  height: 35px;
  margin: 0;
  margin-top: 30px;
}

.ModalContent .CancelButton {
  background-color: #868e96;
}

.ModalContent .CancelButton:hover {
  background-color: #646a6f;
}