.order-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* margin-top: 20px; */
}

.order-btn {
    width: 130px;
    height: 44px;
    padding: 0;
    font-size: 16px;
    margin: 0;
}