.layout {
    display: flex;
    height: 100vh;
    color: #334155;
}

.main-content {
    flex: 1;
    min-width: 0;
    padding: 20px;
    background-color: #eef6f6;

    /* スクロールバーを表示するためのスタイル */
    /* min-height: 0; は子要素が親からはみ出しても、縮んでいいようにするためのスタイル */
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden; /* 横スクロールは非表示にする */
}

.page-inner {
    flex: 1; 
    min-width: 0;
    margin: 0 auto;
}

.button {
    padding: 10px;
    background-color: #42b4a8;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;

    /* 文字を中央に配置 */
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    margin: 0;
}

.button:hover {
    background-color: #36a39c;
}

.red-btn {
    background-color: #dc3545;
}

.red-btn:hover {
    background-color: rgb(177, 46, 59);
}




.pg-container {
    width: 100%;
    flex: 1;
    margin: 0 auto;
    padding: 20px;
    background-color: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.pg-header h1{
    margin: 0;
    margin-left: 5px;
    font-size: 18px;
    text-align:left;
    box-sizing: border-box;
    color: #4e5452;
}

.form-label {
    text-align: left;
    font-size: 14px;
    font-weight: bolder;
    color: #4e5452;
}

.form-input, .form-textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    /* margin-left: 10px; */

    font-size: 14px;
    height: 35px;
}


/* 入力欄の色を変更 */
.form-input:focus, .form-textarea:focus {
    border-color: #42b4a8;
    box-shadow: 0 0 5px rgba(66, 180, 168, 0.5);
    outline: none;
}

.form-input:read-only {
    background-color: #f5f5f5;
    cursor: default;
}

.form-input:read-only:focus {
    border-color: #ddd;
    box-shadow: none;
    outline: none;
}

.form-input.input-error {
    border: 2px solid #dc3545;
    /* background: #f3c0b9; */
}

.form-item select.form-input {
    background-color: #ffffff;
    appearance: none;
    -webkit-appearance: none;
    padding-left: 8px;
}


.status, .item-status {
    border-radius: 50px;
    font-size: 12px;
    font-weight: bolder;
    color: #fff;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    width: 90px;
    height: 33px;

}

.status.new-request {
    background-color: #868e96;
}
.status.completed {
    background-color: #2f9e8f;
}
.status.partial {
    background-color: #339af0;
}
.status.requesting {
    background-color: #ffc107;
}
.status.cancelled {
    background-color: #dc3545;
}

.item-status.new-request{
    background-color: #868e96;
}

.item-status.requesting {
    background-color: #ffc107;
}

.item-status.completed {
    background-color: #2f9e8f;
}
